/* loads additional weights of Raleway font - I know that this will alter page appearance; need to load more weights for WordPress theme to fix this */
@import url("http://fonts.googleapis.com/css?family=Raleway:500,800,200");
  
  /* for slimming article body area */
  .su-tabs {width:66%;min-width:650px;}

#topContent {
		
		width:144%;/* in order to extend image nav into right rail area */
		/*background:#fff;*/
		overflow:auto;

	}

	.photo {
			width:95%;
			height:95%;
			clear: both;
		
	}
	
	.layer {
			/*so photos will stack on one another*/
			position:absolute;
			display:block;
			left:0;
			top:0;
	}
	.photo img {
		width: auto;	
		max-width:100%;
	}
	
	.hidden {
		display:none;	
	}
	#photoContainer {
		display:inline-block;
		position:relative;
		float:left;
		width:70%; /* 70 percent of 140 percent,so mostly fills left column well*/
		max-width:900px;
		height:100%;
		padding:0px
		margin:0px;
		clear: both;
	}
	
	#photoNavContainer {
		text-rendering: optimizeLegibility;
		display:inline-block
		position:relative;
		float:left;
		width:20%;
		padding:15px;
		padding-top:0px;
		min-width:150px;
		font-family:'Raleway',sans-serif;
	}
	#imageControls h4{
		/*color:#ff0000;*/
		font-size:15px;	
		/*margin-bottom:-7px;*/
		font-weight:800;
	}
	
	
	#imageControls p, #layerDescriptionText {
		max-width:220px;
		line-height:1.6;
		/*color:#336699;*/
		font-size:12px;	
	}
	
	#layerDescriptionText {
		margin-top:10px; 
	 }
	
	#imageControls label {
		font-size:13px;
		display:inline-block;
		padding-top:5px;
		padding-bottom:5px;
		width:80%;
		min-width:110px;
		max-width:220px;
		font-weight:500;
		border-bottom: 1px solid #c6c6c6;
	}
	#imageControls label:first-child {
		border-top: 1px solid #c6c6c6;
		
		/*margin-top:115px;*/ 
	
	}
	
	#imageControls label:last-child {
		
	
	}